@model ForgotPasswordViewModel

<div class="space-y-5">
    <div>
        <label asp-for="UsernameOrEmail" class="label">
            @T["Email"]
        </label>
        <input asp-for="UsernameOrEmail"
               type="email"
               autocomplete="username"
               required
               class="input"
               placeholder="you@example.com" />
        <span asp-validation-for="UsernameOrEmail" class="text-sm text-red-500 mt-1 block"></span>
    </div>
</div>
