<span class="text-sm">
    @T["Don't have an account?"]
    <a asp-controller="Registration"
       asp-action="Register"
       asp-route-returnurl="@ViewData["ReturnUrl"]"
       class="font-medium text-brand hover:underline">
        @T["Sign up"]
    </a>
</span>
