<li class="py-1">
    <a asp-controller="Registration"
       asp-action="Register"
       asp-route-returnurl="@ViewData["ReturnUrl"]"
       class="text-sm text-primary-600 hover:underline hover:text-primary-700 dark:text-primary-400 dark:hover:text-primary-300 transition">
        @T["Register as a new user"]
    </a>
</li>
