@model OrchardCore.Users.ViewModels.ResetPasswordViewModel

<form asp-action="ResetPassword"
      method="post"
      class="space-y-5 no-multisubmit">

    <div class="text-sm text-red-500" asp-validation-summary="All"></div>

    <input asp-for="ResetToken" type="hidden" />
    <input asp-for="Email" type="hidden" />
    <input asp-for="UsernameOrEmail" type="hidden" />

    <div class="space-y-5">
        <div>
            <label asp-for="NewPassword" class="label">
                @T["New password"]
            </label>
            <input asp-for="NewPassword"
                   type="password"
                   autocomplete="new-password"
                   required
                   class="input"
                   placeholder="********" />
            <span asp-validation-for="NewPassword" class="text-sm text-red-500 mt-1 block"></span>
        </div>

        <div>
            <label asp-for="PasswordConfirmation" class="label">
                @T["Confirm new password"]
            </label>
            <input asp-for="PasswordConfirmation"
                   type="password"
                   autocomplete="new-password"
                   required
                   class="input"
                   placeholder="********" />
            <span asp-validation-for="PasswordConfirmation" class="text-sm text-red-500 mt-1 block"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary w-full">
        @T["Reset password"]
    </button>
</form>
