<form asp-action="Register"
      asp-route-returnurl="@ViewData["ReturnUrl"]"
      method="post"
      class="space-y-5 no-multisubmit">

    <div class="text-sm text-red-500" asp-validation-summary="All"></div>

    @if (Model.Content != null)
    {
        <div class="space-y-5">
            @await DisplayAsync(Model.Content)
        </div>
    }

    <button type="submit" class="btn btn-primary w-full">
        @T["Sign up"]
    </button>
</form>
